<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Battle (Supe Game)</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script type="module" src="data.js"></script>
    <script type="module" src="client.js"></script>
</head>
<body>
    <div id="app"> <!-- Vue app -->
        <div class="game-box"> <!-- Container for the game -->
            <!-- Creates the boxes in the top section -->
            <!-- Border of boxes and the fill reflect the heath of the character -->
            <!-- Health and name values are passed in from Vue also -->
            <div class="box char-box oppo-char-box" v-bind:style="{'border-color': healthColor(oppoChar.health/oppoChar.maxHealth)}">
                <h2 class="character">{{oppoChar.name}}</h2>
                <div class="hp-bar">
                    <div v-bind:style="{'clip-path': 'polygon(0 0, ' + decToPer(oppoChar.health/oppoChar.maxHealth) + ' 0%, ' + decToPer(oppoChar.health/oppoChar.maxHealth) + ' 100%, 0 100%)', 'background-color': healthColor(oppoChar.health/oppoChar.maxHealth)}" class="hp-bar-fill"></div>
                </div>
                <h4 class="hp">{{Math.round(oppoChar.health * 1000) / 10}}/{{100 * oppoChar.maxHealth}}
                </h4>
            </div>
            <div class="box char-img oppo-char-img">
                <img v-if="false" v-bind:src="opponentCharacterSrc" class="character-top"/>
            </div>
            <div class="box char-img user-char-img">
                <img v-if="false" v-bind:src="userCharacterSrc" class="character-bottom"/>
            </div>
            <div class="box char-box user-char-box" v-bind:style="{'border-color': healthColor(userChar.health/userChar.maxHealth)}">
                <h2 class="character">{{userChar.name}}</h2>
                <div class="hp-bar">
                    <div v-bind:style="{'clip-path': 'polygon(0 0, ' + decToPer(userChar.health/userChar.maxHealth) + ' 0%, ' + decToPer(userChar.health/userChar.maxHealth) + ' 100%, 0 100%)', 'background-color': healthColor(userChar.health/userChar.maxHealth)}" class="hp-bar-fill"></div>
                </div>
                <h4 class="hp">{{Math.round(userChar.health * 1000) / 10}}/{{100 * userChar.maxHealth}}
                </h4>
            </div>

            <!-- Creates menus at the bottom of the screen -->
            <div class="menus">
                <!-- Left menu is used for logging -->
                <div id="log" class="left-menu">
                    <!-- Displays the log with each line in a p tag -->
                    <p v-for="line in log">{{line}}</p>
                </div>

                <!-- Right menu is used for the buttons -->
                <div class="right-menu">
                    <!-- Make a h4 for each menu item (showing the name and disabling the button (via class) if need) -->
                    <!-- Button processes will run through the function "button.onClick()" -->
                    <h4 v-for="button in buttons" v-on:click="button.onClick()" class="menu-button" v-bind:class="button.class">{{button.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>