/* ===== ---------- ===== */
/* =====   GLOBAL   ===== */
/* ===== ---------- ===== */

/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

:root { /* Initialise color variables */
    --red: #E81313;
    --orange: #CC4E00;
    --yellow: #FCCE14;
    --lime: #7EAC11;
    --green: #008A0E;
    --teal: #008573;
    --blue: #1071E5;
    --lavender: #635DFF;
    --purple: #BA23F6;
    --pink: #D916A8;

    --brown: #4D2800;
    --cream: #F8F8D8;
}

@keyframes background { /* Animation used for the background */
    0% {
        background: var(--blue);
    }
    50% {
        background: var(--lavender);
    }
    100% {
        background: var(--blue);
    }
}

/* ===== ------------------------------------- ===== */
/* =====   GENERAL TAGS (BODY, DIV, H1 ETC.)   ===== */
/* ===== ------------------------------------- ===== */

html { /* Add background-color change animation */
    animation: background 10s linear infinite;
}

html, body { /* Remove margin and padding from html and body */
    margin: 0;
    padding: 0.75em 0;
}

body { /* Will center the 'game' on the page */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== ------------------------- ===== */
/* =====   GAME BOX AND SECTIONS   ===== */
/* ===== ------------------------- ===== */

.game-box { /* The box that contains the game */
    position: relative; /* Positioned relative to the body */
    margin: 0;
    display: block;
    background: white;
    z-index: 1;

    /* Slighly smaller than the screen for aesthetics */
    width: calc(100vw - 3em);
    height: calc(100vh - 3em);
}

/* ========== ------------------------- ========== */
/* ==========     CHARACTER SECTION     ========== */
/* ========== ------------------------- ========== */

.box { /* Styles for all boxes inside the character section */
    position: absolute;
    width: 40%;
    width: 12em;
}

.char-img { /* Styles for the character images */
    border-radius: 50%;
    background-color: white;
}
.char-box { /* Styles for the boxes that contain the character's basic stats (name, health, current effects) */
    border-radius: 10px;
    background-color: var(--cream);

    border: 6px solid var(--green); /* Vue will change the color of the border depending on the character's health */
    transition: 1s; /* Allows the border to change color smoothly */
}

/* =============== ---------------------------------- =============== */
/* ===============       INSIDE CHARACTER BOXES       =============== */
/* =============== ---------------------------------- =============== */

.character { /* Styles the character's name in the stat box */
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    opacity: 0.7;
    font-size: 18px;
    font-family: "Roboto Condensed";
}

.hp { /* Styles the HP text on each character's stat box */
    position: absolute;
    right: 8%;
    bottom: -20%;
    opacity: 0.7;
    font-size: 16px;
    font-family: "Roboto Condensed";
}

.hp-bar { /* Styles the health bar on each character's stat box */
    position: absolute;
    bottom: 32%;
    height: 20%;
    width: 70%;
    left: 10%;
    border-radius: 20px;
    background: dimgrey;
    opacity: 0.75;
}

.hp-bar-fill { /* Styles how much of the health bar is filled */
    position: absolute;
    height: 100%;
    border-radius: 20px;
    width: 100%;

    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); /* The health bar starts off full, Vue will change this to reflect the character's health */
    background: var(--green); /* The health bar starts off green, Vue will change the colour to reflect the character's health */
    transition: 1s; /* Allows the health bar to change colour and size smoothly */
}

/* =============== -------------------------- =============== */
/* ===============       POSITION BOXES       =============== */
/* =============== -------------------------- =============== */

.user-char-box { /* Positions the box that contains the user's active character stats */
    height: 6em;
    top: 8%;
    left: 8%;
    z-index: 2;
}

.oppo-char-img { /* Positions the box that contains the opponent's active character image */
    height: 25%;
    top: 25%;
    right: 8%;
}

.user-char-img { /* Positions the box that contains the user's active character image */
    height: 25%;
    bottom: 15%;
    left: 8%;
}

.oppo-char-box { /* Positions the box that contains the opponent's active character stats */
    height: 6em;
    bottom: 28%;
    right: 8%;
    z-index: 2;
}

/* ========== ---------------------------------------- ========== */
/* ==========     SEPERATION TOOLBAR (COMING SOON)     ========== */
/* ========== ---------------------------------------- ========== */

/* ========== --------------------- ========== */
/* ==========     MENU SECTIONS     ========== */
/* ========== --------------------- ========== */

.menus { /* Places the menu boxes at the bottom of the game box */
    position: absolute;
    width: calc(100vw - 3.25em);
    bottom: 0%;
    height: 20%;
    z-index: 1;
    border: solid 2px #000000AA;
}

/* =============== ----------------------------------- =============== */
/* ===============         DATA SECTION (LEFT)         =============== */
/* =============== ----------------------------------- =============== */

.left-menu { /* Positions the left menu box */
    position: absolute;
    width: 50%;
    left: 0;
    height: 100%;
    color: var(--brown);
}

#log { /* Styles the log in the data section */
    margin-top: 0.5em;
    margin-left: 0.5em;
    overflow-y: scroll;
    width: calc(60% - 10px);
    top: -0.5em;
}

#log p { /* Removes the margin from the log's paragraphs */
    margin: 0;
}

/* =============== ------------------------------------- =============== */
/* ===============         OPTION SECTION (RIGHT)        =============== */
/* =============== ------------------------------------- =============== */


.right-menu { /* Positions the right menu box */
    position: absolute;
    width: 40%;
    right: 0;
    height: 100%;
    background: white;
    border-left: solid 2px #000000AA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu-button { /* Default style for all menu buttons */
    transition: 0.25s;
    border-radius: 0.2em;
    border: #1071E5AA solid 2px;
    padding: 0.1em 0.5em;
    opacity: 0.95;
    color: #333333;
    font-family: "PT Sans Narrow";
    cursor: pointer;
    margin: auto;
    outline: transparent 1em solid;
    flex-flow: column;
    text-align: center;
    height: 35%;
    width: 35%;
    font-size: calc(0.75em + 0.5vw); /* Responsive font size */

    /* Vertically place text and hide overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    overflow: hidden;
    user-select: none;
}

.right-menu :nth-child(n+5) { /* Displays only the first 4 buttons (to fit the 2x2 grid) */
    display:none;
}

.menu-button.disabled { /* Button is disabled (move not charged/other conditions) */
    border-color: var(--red);
    opacity: 0.5;
    pointer-events: none;
}

.menu-button.disabled:empty { /* Used to fill empty space where a normal button would be if it existed */
    border-color: #333;
    opacity: 0.25;
}

.menu-button.navigate { /* Styles the button that navigates to the next or previous page */
    border: #008573 solid 2px;
}

@media (hover: hover) { /* Show 'hover' buttons on devices that support hover (i.e. not mobile) */
    .menu-button:hover,
    .menu-button:focus { /* Action button will change colour when hovered over */
        border: #1071E5 solid 2px;
        background-color: #1071E555;
        color: #000000;
        outline: 0em solid #1071E555;
    }

    .menu-button.navigate:hover,
    .menu-button.navigate:focus { /* Navigation button will change colour when hovered over */
        border: #008573 solid 2px;
        background-color: #00857355;
        color: #000000;
        outline: 0em solid #00857355;
    }
}

/* ===== ---------------------- ===== */
/* =====   RESPONSIVE STYLING   ===== */
/* ===== ---------------------- ===== */

@media all and (min-width: 1100px) { /* Changes the layout of the menus for large screens (laptops and desktops) */
    .menu-button { /* Resizes the menu buttons to fit a 3x3 grid */
        height: 20%;
        width: 25%;
    }

    .right-menu :nth-child(n) { /* Reverts prior changes */
        display: flex;
    }
    
    .right-menu :nth-child(n+10) { /* Displays only the first 9 menu buttons (to fit the 3x3 grid) */
        display: none;
    }
}

@media all and (min-width: 750px) and (max-width: 1100px) { /* Changes the layout of the menus for medium screens (tablet) */
    .menu-button { /* Resizes the menu buttons to fit a 3x2 grid */
        height: 35%;
        width: 20%;
    }

    .right-menu :nth-child(n) { /* Reverts prior changes */
        display: flex;
    }
    
    .right-menu :nth-child(n+7) { /* Displays only the first 6 menu buttons (to fit the 3x2 grid) */
        display: none;
    }
}

@media all and (max-width: 750px) { /* Changes the layout of the menus for small screens (mobile) */
    /* COMING SOON */
}